<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/original">
<body>
<div id="page" layout:fragment="content">
    <h1>About Brendon</h1>
    <p>
        Brendon Dugan is a software engineer based out of Broadstairs, Kent, UK. When he is not writing code he is often
        playing guitar or mandolin, reading, exploring, or browsing <a href="http://www.imgur.com">Imgur</a>.
        While no longer actively maintained, Brendon has a <a href="http://brennydoogles.wordpress.com">Programming Blog</a>
        through which he has imparted a small subset of the things he has learned during his career.
    </p>
</div>
</body>
</html>