<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/original">
<body>
<div id="page" layout:fragment="content">
<h1>About this site</h1>
<p>
    This is a rewrite of the legacy PHP/CodeIgniter site I used from 2015 - mid-2019. Since this site exists primarily
    for the purpose of housing my CV as well as other personal information that might help potential employers get a sense
    of who I am as a person, I wanted to ensure that the site is not only descriptive of my skills, but evidential of
    said skills. As such, I have rewritten the site using the technologies I use regularly in my career and have released
    the source code on <a href="https://github.com/brennydoogles/brendondugandotcom">Github</a>.
</p>
    <p>This site uses the following technologies:</p>
    <ul>
        <li>Java 12</li>
        <li>Spring Boot</li>
        <li>Thymeleaf</li>
        <li>Twitter Bootstrap</li>
        <li>Maven</li>
        <li>Heroku</li>
    </ul>
</div>
</body>
</html>