<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/original">
<body>
<div id="page" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron-neutral col-sm-12 no-print">
                <h1>Brendon Dugan</h1>

                <p>A Software Engineer with a Strong Knack for System Design</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <img th:src="@{/img/outside_small.png}" class="img-responsive"/>
            </div>
            <div class="col-sm-6 text-center">
                <h3 class="text-center">Online Presence</h3>
                <dl class="dl-horizontal">
                    <dt>Stack Exchange</dt>
                    <dd><a href="http://stackexchange.com/users/467572/brendon-dugan">brendon-dugan</a></dd>
                    <dt>Github</dt>
                    <dd><a href="https://github.com/brennydoogles">brennydoogles</a></dd>
                    <dt>Dream.In.Code</dt>
                    <dd><a href="http://www.dreamincode.net/forums/user/240257-brennydoogles/">brennydoogles</a></dd>
                    <dt>LinkedIn</dt>
                    <dd><a href="http://www.linkedin.com/in/brendondugan">brendondugan</a></dd>
                </dl>
            </div>
        </div>
        <div class="row cv-section">
            <div class="col-sm-12">
                <h1 class="text-center cv-section-head">About</h1>

                <p>
                    Brendon Dugan is a polyglot Software Engineer with a varied background. With experience in roles
                    such as Web Developer and Application Developer in fields as varied as Hospitality and Medical
                    Devices,
                    Brendon is experienced in applying generalized knowledge effectively to a variety of complex
                    problems. While
                    System Design is Brendon's passion, he finds himself content in any situation in which he is
                    surrounded by
                    intelligent professionals who enjoy the free exchange of knowledge and ideas.
                </p>
            </div>
        </div>
        <div class="row cv-section-head">
            <div class="col-sm-12">
                <h1 class="text-center">Skills</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-center">Programming Languages</h3>

                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Proficient</h4>
                        <ul class="wrapped-list">
                            <li>Java</li>
                            <li>C#</li>
                            <li>SQL</li>
                            <li>PHP</li>
                            <li>HTML/CSS</li>
                            <li>Javascript</li>
                            <li>Python</li>
                            <li>BASH</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">Familiar</h4>
                        <ul class="wrapped-list">
                            <li>C</li>
                            <li>C++</li>
                            <li>ColdFusion</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">Methodologies & Design Patterns</h3>

                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Proficient</h4>
                        <ul class="wrapped-list">
                            <li>Waterfall</li>
                            <li>Agile</li>
                            <li>TDD</li>
                            <li>MVC</li>
                            <li>Rapid Prototyping</li>
                            <li>Singleton Pattern</li>
                            <li>Strategy Pattern</li>
                            <li>Event Driven Programming</li>
                            <li>Multi-Threading</li>
                            <li>Web Services</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">Familiar</h4>
                        <ul class="wrapped-list">
                            <li>Prototype Pattern</li>
                            <li>Factory Pattern</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-center">Technologies</h3>

                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Proficient</h4>
                        <ul class="wrapped-list">
                            <li>Atlassian Bamboo</li>
                            <li>Sonatype Nexus</li>
                            <li>IntelliJ Idea</li>
                            <li>Maven</li>
                            <li>hybris</li>
                            <li>Git (Github/Bitbucket)</li>
                            <li>SVN</li>
                            <li>Spring Framework</li>
                            <li>MySQL</li>
                            <li>MySQL Stored Procedures</li>
                            <li>SQL Server</li>
                            <li>Oracle</li>
                            <li>PL/SQL</li>
                            <li>CodeIgniter</li>
                            <li>Smarty Templating Engine</li>
                            <li>WCF</li>
                            <li>JUnit</li>
                            <li>DropWizard</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">Familiar</h4>
                        <ul class="wrapped-list">
                            <li>JavaFX</li>
                            <li>WPF</li>
                            <li>Transact-SQL</li>
                            <li>Hibernate</li>
                            <li>Postgres</li>
                            <li>hybris</li>
                            <li>Mockito</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">Other Skills</h3>

                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Proficient</h4>
                        <ul class="wrapped-list">
                            <li>Sense of Humor</li>
                            <li>System Architecture and Design</li>
                            <li>People Management</li>
                            <li>Linux Server Administration</li>
                            <li>Spanish Language</li>
                            <li>Continuous Integration</li>
                            <li>Unit Testing</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">Familiar</h4>
                        <ul class="wrapped-list">
                            <li>Windows Server Administration</li>
                            <li>MacOS</li>
                            <li>Vagrant</li>
                            <li>Puppet</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row cv-section-head force-new-page">
            <div class="col-sm-12">
                <h1 class="text-center">Work Experience</h1>
            </div>
        </div>
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Charlotte Tilbury Beauty -
                            <small>Lead Backend Engineer</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">February 2018 - April 2019</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Skills Used</h4>
                        <ul class="wrapped-list">
                            <li>People Management</li>
                            <li>Agile Methodologies</li>
                            <li>Java</li>
                            <li>Spring</li>
                            <li>Python</li>
                            <li>Sense of Humor</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Interviewed and hired all backend engineers</li>
                            <li>Provided line management for 7 engineers</li>
                            <li>Lead effort of creating architecture for new semi-custom eCommerce Site</li>
                            <li>Lead the effort of integrating a new headless eCommerce platform</li>
                            <li>Lead team in obtaining ElasticPath Certified Developer Certification</li>
                            <li>Managed data migration from legacy Magento site into ElasticPath</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>CompareTheMarket.com -
                            <small>Functional Lead (Senior Manager of Software Engineering)</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">August 2017 - February 2018</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Skills Used</h4>
                        <ul class="wrapped-list">
                            <li>People Management</li>
                            <li>Agile Methodologies</li>
                            <li>Sense of Humor</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Provided governance and leadership to a large community of Technical Leads and Developers</li>
                            <li>Hosted meetups and recruiting events</li>
                            <li>Carried out interviewing and hiring for a large number of roles</li>
                            <li>Facilitated communication across teams and functions within the company</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Notable Projects and Achievements</h4>
                        <ul>
                            <li>Along with a small team of peers, planned and executed a successful technical conference for nearly 200 internal technical staff</li>
                            <li>Designed and piloted new methods of technical testing for engineering candidates</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Macy's.com -
                            <small>Tech Lead</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">May 2016 - June 2017</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Technologies Used</h4>
                        <ul class="wrapped-list">
                            <li>Java</li>
                            <li>Idea</li>
                            <li>Git</li>
                            <li>Spring</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Provided technical leadership to onshore and offshore developers</li>
                            <li>Developed technical stories and acceptance criteria for developers</li>
                            <li>Performed code review to ensure quality of developer merge requests</li>
                            <li>Utilized best practices to ensure optimal code quality</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Tacit Knowledge -
                            <small>Software Engineer</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">June 2015 - April 2016</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Technologies Used</h4>
                        <ul class="wrapped-list">
                            <li>Java</li>
                            <li>Idea</li>
                            <li>hybris</li>
                            <li>Apache Ant</li>
                            <li>Git</li>
                            <li>Spring</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Provided consulting services to various clients</li>
                            <li>Worked in a team to craft high quality eCommerce solutions</li>
                            <li>Utilized best practices to ensure optimal code quality</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Powa Technologies Ltd. -
                            <small>Senior Java Developer</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">February 2014 - June
                        2015</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Technologies Used</h4>
                        <ul class="wrapped-list">
                            <li>Java</li>
                            <li>Idea</li>
                            <li>Bamboo</li>
                            <li>Nexus</li>
                            <li>Maven</li>
                            <li>Git</li>
                            <li>Spring</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Provided architectural insight for software design process</li>
                            <li>Wrote source control policies and procedures to streamline development process</li>
                            <li>Managed automated building and deployment for multiple software projects</li>
                            <li>Provided leadership to junior developers</li>
                            <li>Regularly performed code review for third party and junior developer written code</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Notable Projects and Achievements</h4>
                        <ul>
                            <li>Designed an API and an SDK which have been used by hundreds of external developers and
                                contractors
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Eloquence Communications -
                            <small>Lead Developer</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">January 2013 - February
                        2014</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Technologies Used</h4>
                        <ul class="wrapped-list">
                            <li>Java</li>
                            <li>SQL</li>
                            <li>Idea</li>
                            <li>Bamboo</li>
                            <li>Nexus</li>
                            <li>Maven</li>
                            <li>Git</li>
                            <li>JavaFX</li>
                            <li>Python</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Designed overall architecture for hospital Nurse Call System</li>
                            <li>Managed complex build process for multiple Java applications using Git, Maven, Nexus,
                                and Bamboo
                            </li>
                            <li>Proposed idea which was eventually patented by employer</li>
                            <li>Lead a small team of developers to convert an idea into a product</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Notable Projects and Achievements</h4>
                        <ul>
                            <li>
                                After proposing a method of nursing staff tracking and authentication using NFC, was
                                named as an
                                inventor on
                                <a href="http://patents.justia.com/patent/20140330575">
                                    patent application #20140330575
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Festiva Hospitality Group -
                            <small>Web Developer</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">June 2011 - January 2013</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Technologies Used</h4>
                        <ul class="wrapped-list">
                            <li>PHP</li>
                            <li>C#</li>
                            <li>SQL</li>
                            <li>HTML/CSS</li>
                            <li>Javascript</li>
                            <li>Python</li>
                            <li>BASH</li>
                            <li>Idea</li>

                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Design and implement robust server-side web applications</li>
                            <li>Optimize team workflow using advanced source control solutions</li>
                            <li>Use Linux/Apache knowledge to automate repetitive server tasks</li>
                            <li>Plan data models for complex systems to maximize efficiency</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Notable Projects and Achievements</h4>
                        <ul>
                            <li>
                                Designed a system which allowed for efficient traversal and storage of a hierarchical
                                data tree
                                in a relational database using a hybrid of the Nested Set and Adjacency List data models
                                in
                                order to create a system in which location based hotel listings could be retrieved with
                                a degree
                                of granularity limited only by the data in the database
                            </li>
                            <li>
                                Established a source control policy and procedure for the web team where previously no
                                source
                                control solution was used
                            </li>
                            <li>
                                Further optimized the web team workflow by creating automated deployment into a
                                development
                                environment from all source control commits
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->
        <!--Begin Work Experience Entry-->
        <div class="row">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Freelance -
                            <small>Freelance Developer</small>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">2007 - 2011</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="text-center">Technologies Used</h4>
                        <ul class="wrapped-list">
                            <li>PHP</li>
                            <li>C#</li>
                            <li>SQL</li>
                            <li>HTML/CSS</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="text-center">Responsibilities</h4>
                        <ul>
                            <li>Communicate with clients to determine requirements for projects</li>
                            <li>Manage time in order to complete customer tasks in a timely fashion</li>
                            <li>Utilize various programming languages to meet customer needs</li>
                            <li>Troubleshoot and repair computers for businesses and individuals</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Notable Projects and Achievements</h4>
                        <ul>
                            <li>
                                Designed an application using C# which collected and catalogued security camera
                                recordings
                                for easier future retrieval
                            </li>
                            <li>
                                Designed an application in C# which facilitated the management of medically mandated
                                dietary restrictions for women with gestational diabetes by allowing for the
                                construction
                                of meals which do not surpass a limit of carbohydrates (as entered once from nutritional
                                labels)
                                <br/>
                                <em class="text-primary">This was a pro bono project</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Work Experience Entry-->

        <div class="row text-center print-only">
            <div class="col-sm-6 col-sm-offset-3">
                The most recent version of this document can always be found at
                <a>http://www.brendondugan.com/cv</a>
            </div>
        </div>
        <!-- End Content -->
</div>
</body>
</html>