<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/original">
<body>
<div id="page" layout:fragment="content">
    <div class="row">
        <h1>Music</h1>
        <p>
            Brendon is an avid musician who sings and plays the guitar, bass guitar, and mandolin. Brendon has also
            dabbled
            with the piano and upright bass.
        </p>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="row">
                <iframe class="youtube" src="https://www.youtube.com/embed/xSa3otLqm94?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
                <p>Brendon Dugan covers "Wonderwall" by Oasis</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <iframe class="youtube" src="https://www.youtube.com/embed/BoQjeC7wzGQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
                <p>Brendon Dugan covers "Another New World" by The Punch Brothers</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="row">
                <iframe class="youtube" src="https://www.youtube.com/embed/D8dUh9mwgaE?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
                <p>Brendon Dugan and Michael Vire cover "In My Life" by The Beatles</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <iframe class="youtube" src="https://www.youtube.com/embed/dACxXxezvbI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
                <p>Brendon Dugan covers "Eleanor Rigby" by The Beatles</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>